// Colors
$color-transparent-white-2: hsla(0, 0%, 100%, .02);
$color-transparent-white-5: hsla(0, 0%, 100%, .05);
$color-transparent-white-8: hsla(0, 0%, 100%, .08);
$color-transparent-white-10: hsla(0, 0%, 100%, .1);
$color-transparent-white-14: hsla(0, 0%, 100%, .14);
$color-transparent-white-25: hsla(0, 0%, 100%, .25);
$color-transparent-white-40: hsla(0, 0%, 100%, .4);
$color-transparent-white-50: hsla(0, 0%, 100%, .5);
$color-transparent-white-65: hsla(0, 0%, 100%, .65);
$color-transparent-white-72: hsla(0, 0%, 100%, .72);
$color-transparent-white-85: hsla(0, 0%, 100%, .85);
$color-transparent-white-95: hsla(0, 0%, 100%, .95);
$color-transparent-black-2: rgba(0, 0, 0, .02);
$color-transparent-black-5: rgba(0, 0, 0, .05);
$color-transparent-black-10: rgba(0, 0, 0, .1);
$color-transparent-black-14: rgba(0, 0, 0, .14);
$color-transparent-black-18: rgba(0, 0, 0, .18);
$color-transparent-black-20: rgba(0, 0, 0, .2);
$color-transparent-black-30: rgba(0, 0, 0, .3);
$color-transparent-black-50: rgba(0, 0, 0, .5);
$color-transparent-black-65: rgba(0, 0, 0, .65);
$color-transparent-black-77: rgba(0, 0, 0, .77);
$color-transparent-black-85: rgba(0, 0, 0, .85);
$color-gray-75: #f8f8f8;
$color-gray-100: #f1f1f1;
$color-gray-200: #e7e6e5;
$color-gray-300: #dad8d6;
$color-gray-400: #bebdb9;
$color-gray-500: #8b8987;
$color-gray-600: #666564;
$color-gray-700: #4b4847;
$color-gray-800: #312e2b;
$color-gray-900: #262421;
$color-green-25: #f6ffe3;
$color-green-50: #f3ffcf;
$color-green-75: #ebffbd;
$color-green-100: #d8fa9d;
$color-green-200: #b2e068;
$color-green-300: #81b64c;
$color-green-400: #5d9948;
$color-green-500: #45753c;
$color-green-600: #305730;
$color-green-700: #204227;
