<header id="tb" class="top-bar">
   <div class="top-bar-left">
      <div class="top-bar-action toggle open" (click)="onClick()"><span class="hamburger"></span></div>
      <app-button-link href="/" moreClasses="sprite chess-logo" />
   </div>
   <div class="top-bar-right mobile-auth-options">
      <app-button-link href="/sign-up" moreClasses="auth signup register primary">
         <span class="auth-btn-label">Sign Up</span>
      </app-button-link>
      <app-button-link href="/login" moreClasses="auth login register secondary">
         <span class="auth-btn-label">Log In</span>
      </app-button-link>
   </div>
</header>
